@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-app: var(--bg-app);
  --color-card: var(--bg-card);
  --color-input: var(--bg-input);

  --color-main: var(--text-main);
  --color-muted: var(--text-muted);

  /* Mapping font sizes */
  --text-tiny: var(--text-tiny);
  --text-huge: var(--text-huge);

  --font-sans: "Montserrat", sans-serif;
}

:root {
  /* --- Light Theme Defaults --- */
  --primary: #2dd4bf; /* Indigo */
  --secondary: #ff4081; /* Pink accent */

  --bg-app: #f5f5f5; /* Light Grey Background */
  --bg-card: #ffffff; /* White Card */
  --bg-input: #ebeaea; /* White Input Background */

  --text-main: #333333; /* Dark Grey Text */
  --text-muted: #888888; /* Light Grey Text */

  /* Sizes */
  --text-tiny: 0.75rem; /* 12px */
  --text-base: 1rem; /* 16px */
  --text-huge: 2rem; /* 32px */
}

/* --- Dark Theme Overrides --- */
[data-theme="dark"] {
  --primary: #2dd4bf;
  --secondary: #ff80ab;

  --bg-app: #121212;
  --bg-card: #1e1e1e;
  --bg-input: #040303; /* White Input Background */

  --text-main: #e0e0e0;
  --text-muted: #a0a0a0;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* Apply variables to body */
    @apply bg-app text-main font-sans transition-colors duration-300;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Must be in the global styles file (e.g., src/styles.scss) */
.mat-mdc-snack-bar-container {
  /* ... your existing error-snackbar styles ... */
  &.error-snackbar {
    --mdc-snackbar-container-color: #e62222; /* Red */
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: #ffcdd2;
  }

  /* --- SUCCESS SNACKBAR (TEAL 400) --- */
  &.success-snackbar {
    /* Background color (Teal 400) */
    --mdc-snackbar-container-color: #4acbbe;

    /* Text color */
    --mdc-snackbar-supporting-text-color: white;

    /* Action button color (light teal/white) */
    --mat-mdc-snack-bar-button-color: white; /* Teal 50 */
  }
}
